<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src = "javascripts/editablePlugin.js"></script>
    <script src = "javascripts/customDir.js"></script>

  </head>
  <body ng-app="editablePlugin">

  <div class = "col-md-3">

  </div>

  <div class="col-md-6" ng-controller="PluginCtrl">

        <span id="name">{{name}}</span>:

        <span ng-hide="editMode">{{level}}</span>

    <!-- Edit directive that helps editing the field -->

        <edit-me></edit-me>

  </div>

<div class="col-md-3"></div>
</body>

</html>
